.search {
    .ant-input-group-addon {
        border-left: 1px solid #00000066 !important;

        .ant-btn {
            width: 45px;
            height: 45px;
            background: transparent;
            border: none;
            display: grid; 
            place-content: center;

            &:hover {
                background-color: transparent;
            }
        }
    }
}
