.search {
    .ant-input-group-addon, .ant-input-outlined {
        border: none;
        height: 50px;
    }

    .ant-input-group-addon {
        border-radius: 20px 0 0 20px;
        padding-left: 16px;
    }

    .ant-input-outlined {
        border-radius: 0 20px 20px 0;
    }

    .search-icon {
        font-size: 20px;
        color: #000;
    }
}
