.tabbar {
    position: fixed; 
    bottom: 0; 
    left: 0; 
    padding:  20px 48px; 
    background-color: #666666;
    border-radius: 50px 50px 0 0;
    display: flex; 
    align-items: center; 
    gap: 20px;
    justify-content: space-between;
    width: -webkit-fill-available;
    
    .menu-icon {
        font-size: 30px;
        color: #F8F8F8;
        opacity: 0.5;

        &.active {
            opacity: 1;
            color: #FFFFFF
        }
    }
}