.book-detail {
    width: 100%;
    height: 100%;

    .book-carousel {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;

        .icon-bg {
            z-index: 101;
            color: rgba(10, 120, 214);
            background-color: rgba(255, 255, 255, .5);
            box-shadow:
            0px 0px 2px 0px rgba(0, 0, 0, 0.03),
            0px 0px 2px 0px rgba(0, 0, 0, 0.06);
            border-radius: 5px;
        }
        .back-icon {
            padding: 9px 12px;
            font-size: 17px;
            position: absolute;
            top: 15px;
            right: 16px;
            background-color: #fff;
        }

        .arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: 5px;
            border-radius: 100%;
            font-size: 25px;
            &.left {
                left: 16px;
            }

            &.right {
                right: 16px;
            }
        }

        .img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            object-position: center;
        }
    }

    .book-info {
        position: absolute;
        bottom: 25px;
        left: 0;
        z-index: 101;
        margin: 0 16px;
        padding: 20px 25px 29px 25px;
        background-color: #ffff;
        border-radius: 12px;
        box-sizing: border-box;
        width: calc(100% - 32px);
        display: flex;
        flex-direction: column;
        gap: 20px;

        .book-headInfo {
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: center;
            justify-content: center;

            .book-title {
                font-size: 20px;
                font-weight: 500;
                line-height: 25px;
            }

            .book-year {
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
            }

            .book-cateogyr {
                font-size: 12px;
                line-height: 17px;
            }
        }

        .book-subInfo {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 25px;

            .book-descr {
                font-weight: 300;
                font-size: 13px;
                line-height: 15px;
                flex: 1;
            }

            .favorite-icon {
                position: relative;
                top: auto;
                right: auto;
            }
        }
    }
    .btn-exchange {
        height: 40px;
        background-color: #0a78d6;
        border-radius: 12px;
        border: none;
        box-shadow: none;
        height: 54px;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        color: #fff;
    }
}
