.create-announcement {
    .dragger {
        width: 100%;
        height: 258px;

        .upload-icon {
            font-size: 150px;
            margin-bottom: 20px;
        }

        .upload-text {
            font-size: 16px;
            font-weight: 500;
            line-height: 14px;
            padding-bottom: 5px;
        }
    }

    .info {
        margin-top: 32px;
        padding: 27px 20px 21px 20px;
        background-color: #e2dddd;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .info-wrapper {
            display: flex;
            align-items: center;
            gap: 12px;
        }
    }

    .btn-send {
        background-color: #525DDD; 
        border-radius: 5px;
        font-size: 16px; 
        font-weight: 700; 
        line-height: 20px;
        height: 40px;
        width: 260px;
        display: block;
        margin: 18px auto 0 auto;
    }
}
