.create-announcement {
    padding-top: 10px;

    .dragger {
        width: 100%;

        .image-block {
            position: relative;
            .cloud-image {
                object-fit: contain;
            }

            .close-icon {
                position: absolute;
                top: 5px;
                right: 16px;
                color: #fff;
                background-color: rgba(217, 217, 217, 0.9);
                border-radius: 100%;
                padding: 5px;
                font-size: 25px;
            }
        }
        .dragger-wrapper {
            box-sizing: border-box;
            height: 140px;
            border: 0.5px solid #212121;
            border-radius: 10px;
            display: grid;
            place-content: center;
            background-color: #fff;

            .upload-icon {
                font-size: 47px;
                display: block;
                margin: 33px auto 20px auto;
            }

            .upload-text {
                text-align: center;
                font-size: 14px;
                font-weight: 500;
                line-height: 14px;
                padding-bottom: 5px;
            }
        }
    }

    .input-wrapper {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .input,
        .ant-select {
            width: 100% !important;
            border: 0.5px solid #212121;
            border-radius: 10px;
            height: 50px;
            background-color: #fff;

            .ant-select-selector {
                border: none;
                background: none;
            }

            .ant-picker-suffix, .ant-select-arrow {
                color: #212121;
            }
        }

        .ant-select-selector {
            border-radius: 19px;
        }
    }

    .btn-send {
        background-color: #0a78d6;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        height: 40px;
        width: 100%;
        display: block;
        margin: 18px auto 0 auto;
    }
}
