.home {
    padding-top: 10px;

    .home-header {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 5px;

        .home-exit-btn {
            display: grid;
            place-content: center;
            width: 40px;
            height: 50px;
            border-radius: 5px;
            background: #fff;
            box-shadow:
                0px 0px 2px 0px rgba(0, 0, 0, 0.03),
                0px 0px 2px 0px rgba(0, 0, 0, 0.06);
        }
    }

    .book-list {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .empty-icon {
        position: absolute;
        top: 80px;
        left: 50%;
        margin-left: -1px;
        transform: translateX(-50%);
    }
}
