.message {
    .message-wrapper {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .message-block {
            padding: 16px 5px 16px 12px;
            background-color: #d2d2d2;
            border-radius: 5px;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;

            .user-info {
                display: flex;
                align-items: center;
                gap: 11px;

                .user-profile {
                    width: 65px;
                    height: 65px;
                    border-radius: 100%;
                    object-fit: contain;
                }

                .user-name {
                    color: #0045ca;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 14px;
                }

                .user-descr {
                    color: #0045ca;
                    font-size: 10px;
                    font-weight: 500;
                    line-height: 15px;
                }
            }

            .book-info {
                position: relative;
                .time {
                    color: #0045ca;
                    font-size: 10px;
                    font-weight: 500;
                    line-height: 12px;
                }

                .circle {
                    background-color: #0045ca;
                    width: 15px;
                    height: 15px;
                    border-radius: 100%;
                    display: grid;
                    place-content: center;
                    color: #fff;
                    font-weight: 700;
                    font-size: 10px;
                }
            }
        }
    }
}
