.message {
    .message-wrapper {
        margin-top: 15px;
        display: flex;
        flex-direction: column;

        .message-time {
            font-size: 18px;
            font-weight: 600;
            line-height: 20px;
        }

        .message-block {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 5px;
            padding: 20px 0;
            border-bottom: 0.1px solid #000;

            .info {
                display: flex;
                align-items: center;
                flex-direction: row;
                flex: 1;

                .expand-icon {
                    display: block;
                    width: 6px;
                    height: 6px;
                    background-color: #c92323;
                    border-radius: 100%;
                    margin-right: 24px;
                }

                .user-info {
                    flex: 1;
                    display: flex;
                    align-items: flex-start;
                    gap: 12px;

                    .user-img {
                        width: 32px;
                        height: 32px;
                        object-fit: contain;
                        object-position: center center;
                    }

                    .user-name {
                        color: #60b4d9;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 15px;
                    }

                    .user-ans {
                        height: auto;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        white-space: pre-wrap;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 15px;
                    }
                }
            }

            &:first-child {
                padding-top: 0;
            }
        }
    }
}
