.request {
    padding-top: 10px;
    .tabs {
        .ant-tabs-nav-list {
            width: 100%;
        }
        .ant-tabs-tab-btn {
            font-size: 18px;
            font-weight: 500;
            line-height: 21px;
        }
        .ant-tabs-tab {
            flex: 1;
        }
    }

    .book-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .book {
            padding: 8px;
            background-color: #fff;
            box-shadow:
                0px 0px 2px 0px rgba(0, 0, 0, 0.03),
                0px 0px 2px 0px rgba(0, 0, 0, 0.06);
            border-radius: 12px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 10px;

            img {
                width: 85px;
                height: 85px;
                object-fit: cover;
                border-radius: 8px;
            }
            .book-info {
                display: flex;
                flex-direction: column;
                gap: 7px;
                width: 100%;

                .title {
                    font-size: 13.54px;
                    line-height: 16.42px;
                }

                .desc {
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 13px;
                }

                .book-btn {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    flex-direction: row;
                    gap: 5px;

                    .ant-btn-primary {
                        width: 85px;
                        background-color: #0a78d6;
                    }

                    .ant-btn-default {
                        width: 85px;
                        border-width: 0.5px;
                        border-color: #212121;
                    }
                }
            }
        }
    }
}

.drawer-wrapper {
    .ant-drawer-content,
    .ant-drawer-content-wrapper {
        border-radius: 60px 60px 0 0;
    }

    .header-user {
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);

        .user-img {
            width: 80px;
            height: 80px;
            border: 5px solid #0a78d6;
            border-radius: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }

    .drawer-wrapper {
        .user-name {
            text-align: center;
            font-size: 17px;
            font-weight: 600;
        }

        .drawer-content {
            margin: 31px 0 0 0;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .imgs {
                // display: flex;
                // gap: 20px;
                // align-items: center;
                // justify-content: space-between;
                // flex-direction: row;

                img {
                    border-radius: 5px;
                    object-fit: cover;
                }
            }

            .descr {
                margin-top: 31px;
                font-size: 13px;
                font-weight: 300;
            }
        }
    }
}

.modal {
    padding: 33px 10px;
    background-color: #f7f9f6;
    border-radius: 20px;

    .ant-modal-content {
        background-color: transparent;
        box-shadow: none;
        padding: 0s;
    }

    .ant-modal-close {
        width: 33px;
        height: 33px;
        background-color: #212121;
        border-radius: 100%;
        top: -50px;
        right: -10px;
    }
    .ant-modal-close-x {
        color: #fff;
        font-size: 15px;
    }

    .text-area {
        height: 98px;
        border: 0.5px solid #212121;
        background-color: #fff;
        border-radius: 5px;
    }

    .btn-send {
        margin-top: 13px;
        width: 100%;
        background-color: #0a78d6;
    }
}

.ant-drawer-content-wrapper {
    box-shadow: none !important;
    height: auto !important;

    .ant-drawer-title {
        color: #212121;
        text-align: center;
    }
}
